@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

:root {
    --button_box_shadow: 0 0 0 4px #a9ba14;
    --white: #fff;
    --black: #000;
}

html {
    --container_bg: #f1f1f1;
    --map_opacity: 1;
    --header_bg: #181818;
}

html[data-theme="dark"] {
    --container_bg: #2a2a2a;
    --map_opacity: .8;
    --header_bg: #4a4a4a;
}

i.bi::before {
    display: inline;
}

#container {
    width: 100%;
    height: 100%;
    background-color: var(--container_bg);
    font-family: 'Roboto', sans-serif;
    transition: background-color .4s;

    #header {
        background-color: var(--header_bg);
        color: var(--white);
        height: 50px;
        padding: 0 120px;
        display: grid;
        grid-template-columns: 1fr auto;

        .logo {
            .title {
                font-size: 1.7rem;
                padding-left: 20px;
                position: absolute;
                transform: translate(0, 21%);
            }

            .image,
            .title {
                display: inline-block;
            }
        }

        #menu {
            .nav-item {
                display: inline-block;
                margin: 0 6px;
                line-height: 52px;

                #theme {
                    display: none;
                    opacity: 0;
                }

                .theme {
                    background-color: transparent;
                    border: none;

                    &.dark .bi::before {
                        content: "\f1d2";
                    }

                    &.light .bi::before {
                        content: "\f497";
                    }
                }

                a i,
                .theme i {
                    font-size: 29px;
                    color: #d3d3d3;
                    border-radius: 50%;
                    box-shadow: none;
                    transition: color .4s, box-shadow .4s;
                }

                &:hover a i,
                &:hover .theme i {
                    color: #fff;
                    box-shadow: var(--button_box_shadow);
                    cursor: pointer;
                }
            }
        }
    }

    #map {
        width: 100vw;
        height: calc(100vh - 50px);
        left: 50%;
        right: -50%;
        position: absolute;
        opacity: var(--map_opacity);
        transform: translate(-50%, 0);
    }
}